*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 241, 137);
}
#card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 20px;
    border-radius: 40px;
}
#card h2{
    margin: 8px 0;
}
#card h5{
    font-weight: 25px;
    margin: 20px 0;
    color: rgb(255, 89, 0);
    font-size: 20px;
}
#add{
    background-color: rgb(59, 227, 95);
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}